{% load static vsite_utils settings_tags %}

{% get_contact_fields as contact %}
{% include "contact/includes/contact_card.html" with contact=contact only %}

<br>

<div class="social">
	{% include "contact/includes/social.html" %}
</div>

<hr>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43112.505096213405!2d-52.849041935724394!3d47.51851316964039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0cbca29099a8d3%3A0xb1beb30c0b6cc99e!2sMount+Pearl%2C+NL!5e0!3m2!1sen!2sca!4v1562938267629!5m2!1sen!2sca" 
        width="400" height="300" frameborder="0" style="border:0" allowfullscreen>
</iframe>